:root {
  --base: #111;
  --base-alpha: rgba(0, 0, 0, 0.3);
  --base-transparent: rgba(0, 0, 0, 0.25);
  --invert: white;
  --invert-alpha: rgba(255, 255, 255, 0.5);
  --invert-transparent: rgba(255, 255, 255, 0.25);
}
