body {
    font-family: 'Stint Ultra Condensed', serif;
    letter-spacing: -1px;
    font-size: 3rem;
    min-block-size: 100vh;
}

a {
    color: black;
    text-decoration-color: rgba(0,0,0,.5);
}

/* modal (first-view) */

.modal {
    display: grid;
    place-content: center;
    background: radial-gradient(#ffb02e, #8d65c5);
    text-align: center;
    min-block-size: calc(100vh - 8.1rem);
}

.modal h1 {
    margin: 0;
    text-shadow: white 2px 2px 0;
    line-height: 6rem;
}

.modal h1 span:first-child {
    text-decoration: underline;
    text-decoration-color: #b665c5;
    background-color: rgba(255,255,255,.5);
    word-wrap: break-word;
    padding: .5rem 1rem;
    box-shadow: 6px 6px 0 #8d65c5;
}

.modal h1 span:last-child {
    font-size: 6rem;
    text-shadow: #8d65c5 2px 2px 0;
}

.modal p {
    color: white;
    margin: 0;
    text-shadow: #8d65c5 -2px 2px 4px;
}

.modal a {
    color: #4f2769;
    text-decoration: none;
}

@media (min-width: 720px) {
    .modal h1 {
        line-height: 8rem;
    }
}

/* .pageheader */

.pageheader {
    padding: 1rem 3rem;
    display: grid;
    border-block-start: 1px solid rgba(0,0,0,.25);
    place-content: center;
    grid-template-columns: 380px auto;
    min-block-size: 6rem;
    background-color: rgba(0,0,0, .6);
    background: linear-gradient(0deg, #3f0d5f 0%, #681b9a 100%);
}

.pageheader h1 {
    margin: 0;
    color: white;
    text-shadow: none;
    letter-spacing: 2px;
    font-size: 3.35rem;
}

.pageheader input {
    cursor: not-allowed;
    padding: .25rem;
    inline-size: calc(100vw - 380px - 6rem);
}
.pageheader input[disabled] {
    background-color: rgba(255,255,255,.5);
}

.pageheader input::placeholder {
    color: #321b41;
}

@media (max-width: 720px) {
    body {
        font-size:2rem;
    }
    .pageheader {
        text-align: center;
        grid-template-columns: 100vw;
    }
    .pageheader h1 {
        font-size: 2rem;
        margin-block-end: .5rem;
    }
    .pageheader input {
        inline-size: 90vw;
        margin: 0 3vw;
    }
}

/* .pagecontent (main) */

.pagecontent {
    background: linear-gradient(180deg, #8d65c5 0%, white 100%);
    padding: 2rem 0;
}

.pagecontent p {
    display: inline-block;
    margin-inline-start: auto;
    inline-size: 100%;
    text-align: center;
}

.pagecontent p strong {
    text-transform: uppercase;
    background-color: white;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    box-shadow: 6px -6px 0 #8d65c5;
}

.pagecontent .emojis {
    user-select: none;
    text-align: center;
    font-size: 6.5rem;
    font-size-adjust: inherit;
    /*line-height: 4ch;*/
    letter-spacing: 1px;
    text-shadow: white 2px 2px 0;
}

.pagecontent .emojis li {
    font-size: 3rem;
}

@media (max-width: 720px) {
    .pagecontent .emojis {
        font-size: 3rem;
        /*line-height: 6rem;*/
    }
}

.pagecontent iframe {
    overflow: visible;
    inline-size: calc(100vw - 2rem);
    block-size: 28676px;
}

.pagecontent .emojis {
    margin: 2rem;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;
}

.pagecontent .emojis a {
    display: block;
    text-align: center;
    max-block-size: 100%;
    font-size: calc((100vw - 24rem) / 6);
    text-decoration: none;
    /*transition: all 1s;*/
}

.pagecontent .emojis a:hover {
    text-shadow: black 3px 3px 0;
}

.pagecontent .emojis span {
    margin: 0 1rem 1rem;
    text-align: center;
    display: block;
    font-size: 2rem;
    /*max-inline-size: 15vw;*/
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .6);
}

@media (max-width: 1280px) {
    .pagecontent .emojis {
        grid-template-columns: repeat(6, auto);
    }

    .pagecontent .emojis a {
        font-size: calc((100vw - 14rem) / 8);
    }
}

@media (max-width: 720px) {
    .pagecontent .emojis {
        grid-template-columns: repeat(3, auto);
    }

    .pagecontent .emojis a {
        font-size: calc((100vw - 14rem) / 3);
    }
}

@media (max-width: 380px) {
    .pagecontent .emojis {
        grid-template-columns: repeat(2, auto);
    }

    .pagecontent .emojis a {
        font-size: calc((100vw - 10rem) / 2);
    }
}

@media (max-width: 305px) {
    .pagecontent .emojis {
        grid-template-columns: repeat(1, auto);
    }

    .pagecontent .emojis a {
        font-size: 3rem;
    }
}

/* footer */

.pagefooter {
    margin: 0 auto;
    border-block-start: 4px solid rgba(255,255,255, .5);
    background: linear-gradient(0deg, #3f0d5f 0%, #681b9a 100%);
    color: white;
    padding-block: 2rem;
}

.pagefooter a {
    color: white;
    text-decoration-color: rgba(255,255,255, .5);
}

.pagefooter p {
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    padding-inline: 2rem;
}

.pagefooter p:first-child {
    margin-block-end: 1.5rem;
}