body {
    font-family: 'Stint Ultra Condensed', serif;
    letter-spacing: -1px;
    font-size: 3rem;
    min-block-size: 100vh;
}

a {
    color: black;
    text-decoration-color: rgba(0,0,0,.5);
}

/* modal */

.modal {
    display: grid;
    place-content: center;
    background: radial-gradient(white, rgb(0, 105, 195));
    text-align: center;
    min-block-size: calc(100vh - 8.1rem);
}

.modal h1 {
    margin: 0;
    text-shadow: white 2px 2px 0;
}

.modal h1 span:first-child {
    text-decoration: underline;
    text-decoration-color: rgba(0, 105, 195, .5);
}

.modal h1 span:last-child {
    font-size: 6rem;
    text-shadow: black 2px 2px 0;
}

.modal p {
    color: white;
    margin: 0;
    text-shadow: rgb(0, 105, 195) -2px 2px 1rem;
}

.modal a {
    color: rgb(0, 105, 195);
    text-decoration: none;
}

/* header */

header {
    padding: 1rem 3rem;
    display: grid;
    border-block-start: 1px solid rgba(0,0,0,.25);
    place-content: center;
    grid-template-columns: 300px auto;
    min-block-size: 6rem;
    background-color: rgba(0,0,0, .6);
    background: linear-gradient(0deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .6) 100%);
}

header h1 {
    margin: 0;
    color: white;
    text-shadow: none;
    letter-spacing: 2px;
    font-size: 3.35rem;
}

header input {
    cursor: not-allowed;
    padding: .25rem;
    inline-size: calc(100vw - 280px - 6rem);
}
header input[disabled] {
    background-color: white;
}

header input::placeholder {
    color: #aaa;
}

@media (max-width: 720px) {
    body {
        font-size:1.5rem;
    }
    header {
        text-align: center;
        grid-template-columns: 100vw;
    }
    header h1 {
        font-size: 2rem;
        margin-block-end: .5rem;
    }
    header input {
        inline-size: 90vw;
        margin: 0 3vw;
    }
}

/* main */

main ul.list {
    margin: 2rem;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style-type: none;
}

main ul.list li a {
    display: block;
    max-block-size: 100%;
    font-size: calc((100vw - 24rem) / 6);
    text-decoration: none;
}
main ul.list li span {
    margin: 0 1rem;
    text-align: center;
    display: block;
}

@media (max-width: 1280px) {
    main ul.list {
        grid-template-columns: repeat(4, auto);
    }

    main ul.list li a {
        font-size: calc((100vw - 14rem) / 5);
    }


@media (max-width: 720px) {
    main ul.list {
        grid-template-columns: repeat(3, auto);
    }

    main ul.list li a {
        font-size: calc((100vw - 14rem) / 3);
    }
}

@media (max-width: 380px) {
    main ul.list {
        grid-template-columns: repeat(2, auto);
    }

    main ul.list li a {
        font-size: calc((100vw - 10rem) / 2);
    }
}
